DATABASE_URL="" 				# Provide a value for DATABASE_URL
API_PORT="" 				# Provide a value for API_PORT

BETTER_AUTH_SECRET="" 				# Provide a value for BETTER_AUTH_SECRET
BETTER_AUTH_URL="" 				# Provide a value for BETTER_AUTH_URL

GITHUB_CLIENT_ID="" 				# Provide a value for GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET="" 				# Provide a value for GITHUB_CLIENT_SECRET

GOOGLE_CLIENT_ID="" 				# Provide a value for GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET="" 				# Provide a value for GOOGLE_CLIENT_SECRET

EMAIL_API_URL="" 				# Provide a value for EMAIL_API_URL
EMAIL_API_KEY="" 				# Provide a value for EMAIL_API_KEY

DODO_PAYMENTS_ENVIRONMENT="" 				# Provide a value for DODO_PAYMENTS_ENVIRONMENT
DODO_STARTER_PRODUCT_ID="" 				# Provide a value for DODO_STARTER_PRODUCT_ID
DODO_TEAM_PRODUCT_ID="" 				# Provide a value for DODO_TEAM_PRODUCT_ID
DODO_PAYMENTS_API_KEY="" 				# Provide a value for DODO_PAYMENTS_API_KEY